*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    max-width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --primary-active_input: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --primary-input_errors: hsl(0, 100%, 66%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-ight_grayish_violet: hsl(270, 3%, 87%);
    --neutral-dark_grayish_violet: hsl(279, 6%, 55%);
    --neutral-very_dark_violet: hsl(278, 68%, 11%);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr;
}

aside {
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 2rem;
}

.card_front,
.card_back {
    position: relative;
    width: max-content;
    color: var(--neutral-white);
}

.card_back {
    margin-left: auto;
    order: 1;

}

.card_front {
    z-index: 1;
    order: 2;
    margin-top: -5rem;

}

.card_front>*:not(.backround_img),
.card_back>*:not(.backround_img) {
    position: absolute;
    z-index: 2;
    padding: 2rem;

}

.logo {
    left: 0;
}

.card_number {
    top: 40%;
    font-size: 1.925rem;
    letter-spacing: 0.1rem;
}

.cardholder_name {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    bottom: 0;
}

.card_expiry {
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.card_back {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
}

.card_cvc {
    font-size: 0.8rem;
    top: 32%;
    right: 15%
}


.card_holder {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}


.form label {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.form input {
    padding: 0.5rem 1rem;
    color: var(--neutral-very_dark_violet);
    width: 100%;
}

.form input::placeholder {
    color: var(--neutral-ight_grayish_violet);
}

.details {
    display: flex;
    gap: 1rem;
}


.details label {
    display: block;
}

.expiry input {}

.cvc {
    flex: 1
}

.cvc input {}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* MEDIA QUERY */

@media only screen and (min-width: 60rem) {

    body {
        padding: 1rem;
    }

    main {}
}