*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    max-width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --primary-active_input: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --primary-input_errors: hsl(0, 100%, 66%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-ight_grayish_violet: hsl(270, 3%, 87%);
    --neutral-dark_grayish: violet: hsl(279, 6%, 55%);
    --neutral-very_dark_violet: hsl(278, 68%, 11%);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr;
}

aside {
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_front {
    position: relative;
    /* background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
    border: 3px solid green;
    max-width: fit-content; */
}

.logo {
    position: absolute;
    padding: 1rem;
}


.card_back {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    aspect-ratio: 2/1;
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* MEDIA QUERY */

@media only screen and (min-width: 60rem) {

    body {
        padding: 1rem;
    }

    main {}
}