*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    max-width: 90rem;
    min-height: 100vh;
    margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --primary-active_input: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --primary-input_errors: hsl(0, 100%, 66%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-ight_grayish_violet: hsl(270, 3%, 87%);
    --neutral-dark_grayish_violet: hsl(279, 6%, 55%);
    --neutral-very_dark_violet: hsl(278, 68%, 11%);
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
}

main {
    max-width: 24rem;
    margin: 0 auto;
    margin-top: 3rem;
}

aside {
    display: grid;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    display: grid;
    padding: 0 1rem 2rem;
    margin: 0 auto;
}

.card_front,
.card_back {
    position: relative;
    max-width: 28rem;
    max-height: 15.4rem;
    /* fix shadow - fix size*/
    border-radius: 0.6rem;
    color: var(--neutral-white);
    box-shadow: 0.5rem 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.card_front>*:not(.backround_img),
.card_back>*:not(.backround_img) {
    position: absolute;
    z-index: 2;
    padding: 1rem;
}

.card_back {
    margin-left: auto;
    order: 1;
    margin-left: 3rem;
    margin-top: 2rem;
}

.card_front {
    z-index: 1;
    order: 2;
    margin-top: -4rem;
    margin-bottom: -4rem;
    margin-right: 3rem;
}

.logo {
    left: 0;
    max-width: 30%;
}

.card_number {
    top: 40%;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.cardholder_name {
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    bottom: 0;
}

.card_expiry {
    right: 0;
    bottom: 0;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}

.card_back {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
}

.card_cvc {
    font-size: 0.6rem;
    top: 50%;
    left: 80%;
    transform: translate(-40%, -50%);
}


.card_holder {
    display: flex;
    flex-direction: column;
}

.form {
    padding: 1rem;
}

.form label {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.form input {
    padding: 0.5rem 1rem;
    color: var(--neutral-very_dark_violet);
    border: 1px solid var(--neutral-ight_grayish_violet);
    border-radius: 0.5rem;
    /* width: 100%; this overrights the size type attribute*/
}

.form input::placeholder {
    color: var(--neutral-ight_grayish_violet);
}

.form textarea:focus,
.form input:focus {
    outline: 1px solid var(--neutral-very_dark_violet);
}

.details {
    display: flex;
    gap: 1rem;
}


.details label {
    display: block;
}

input#input_card_expiry_yy {
    margin-left: 0.5rem;
}

.cvc {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hidden {
    display: none;
}

.submit {
    cursor: pointer;
    border: transparent;
    background-color: var(--neutral-very_dark_violet);
    color: var(--neutral-white);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
}

.attribution {
    margin-top: 2rem;
    ;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* MEDIA QUERY */

@media only screen and (min-width: 60rem) {

    body {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        padding: 0;
    }

    main {
        margin-top: 0;
    }


    aside {
        min-height: 100vh;
        align-items: center;
    }

    .card_front,
    .card_back {
        width: max-content;
    }


    .card_front>*:not(.backround_img),
    .card_back>*:not(.backround_img) {
        padding: 2rem;
    }

    .card_front {
        order: 1;
        margin-bottom: 2rem;
        transform: translateX(30%);
    }

    .logo {
        max-width: unset;
    }


    .card_number {
        font-size: 1.925rem;
    }

    .cardholder_name,
    .card_expiry,
    .card_cvc {
        font-size: 0.8rem;
    }



    .card_back {
        order: 2;
        transform: translateX(55%);
    }

    .form {
        min-width: 24rem;
        margin-left: 5rem;
    }

    .attribution {
        grid-column: 1 / -1;
    }

}